<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVibras">
        
        <activity
            android:name="com.example.appvibras.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.appvibras.controlador.MenuPrincipalActivity"
            android:exported="false"
            android:label="Menú Principal" />

        <activity
            android:name="com.example.appvibras.controlador.CategoriasActivity"
            android:exported="false"
            android:label="@string/titulo_categorias" />

        <activity
            android:name="com.example.appvibras.controlador.CategoriaDetalleActivity"
            android:exported="false"
            android:label="Detalle de Categoría" />

        <activity
            android:name="com.example.appvibras.controlador.ProductosActivity"
            android:exported="false"
            android:label="@string/titulo_productos" />

        <activity
            android:name="com.example.appvibras.controlador.ProductoDetalleActivity"
            android:exported="false"
            android:label="Detalle de Producto" />

        <activity
            android:name="com.example.appvibras.controlador.ClientesActivity"
            android:exported="false"
            android:label="@string/titulo_clientes" />

        <activity
            android:name="com.example.appvibras.controlador.ClienteDetalleActivity"
            android:exported="false"
            android:label="Detalle de Cliente" />

        <activity
            android:name="com.example.appvibras.controlador.ComprasActivity"
            android:exported="false"
            android:label="@string/titulo_compras" />

        <activity
            android:name="com.example.appvibras.controlador.VentasActivity"
            android:exported="false"
            android:label="@string/titulo_ventas" />

        <activity
            android:name="com.example.appvibras.controlador.ProductoCrearActivity"
            android:exported="false"
            android:label="Nueva Prenda" />

        <activity
            android:name="com.example.appvibras.controlador.CategoriaCrearActivity"
            android:exported="false"
            android:label="Nueva Categoría" />

        <activity
            android:name="com.example.appvibras.controlador.ClienteCrearActivity"
            android:exported="false"
            android:label="Nuevo Cliente" />

        <activity
            android:name="com.example.appvibras.controlador.CompraCrearActivity"
            android:exported="false"
            android:label="Nueva Compra" />

        <activity
            android:name="com.example.appvibras.controlador.VentaCrearActivity"
            android:exported="false"
            android:label="Nueva Venta" />

    </application>

</manifest>
